<div class="jumbotron home-header">
  <div class="caption">
      <h1>Market Management M&M</h1>
      <p>¡Bienvenid@ a Market Management M&M! ¡La web de gestión de productos de nuestro supermercado! ¡En ella podrá
        consultar una plantilla de catálogos de productos, así como editar el propio catálogo para añadir, editar o
        eliminar productos!</p>
  </div>
</div>

<div class="row">
  <div class="col-md-6 home-block">
      <div class="thumbnail home-block-thumbnail">
          <div class="caption">
              <h3>Para comenzar a ver y/o utilizar la web, realice el registro de usuario</h3>
              <a routerLink="/signup">
                  <button type="button" class="btn btn-primary">Registro</button>
              </a>
          </div>
      </div>
  </div>

  <div class="col-md-6 home-block">
      <div class="thumbnail home-block-thumbnail">
          <div class=caption>
              <h3>Si usted no es un nuevo usuario, acceda a la página con sus datos de usuario</h3>
              <a routerLink="/signin">
                  <button type="button" class="btn btn-primary">Inicio de Sesión</button>
              </a>
          </div>
      </div>
  </div>
</div>

<footer class="page-footer font-small blue pt-4 home-block">
  <div class="container home-block-thumbnail">
    <div class="row">
      <div class="col s12 m7 l6">
        <h5 class="teal-text text-lighten-4" tabindex="20"><b>Componentes de Market Management</b></h5>
        <ul>
          <li><a class="grey-text text-lighten-4" href="https://github.com/alu0101254678" target="_blank" tabindex="21">Yago Pérez Molanes</a></li>
          <li><a class="grey-text text-lighten-4" href="https://github.com/alu0101202952" target="_blank" tabindex="22">Andrea Calero Caro</a></li>
          <li><a class="grey-text text-lighten-4" href="https://github.com/" target="_blank" tabindex="23">Saúl Pérez García</a></li>
        </ul>
      </div>
      <div class="col s12 m5 l4 offset-l2">
        <h5 class="teal-text text-lighten-4" tabindex="25"><b>Nuestras redes sociales</b></h5>
        <ul>
          <li><img src="../../../assets/images/facebook.png" alt="Imagen de logo de Facebook" width="25" height="25" tabindex="26"><a class="grey-text text-lighten-3" href="https://www.facebook.com/universidaddelalaguna" target="_blank" tabindex="30">Facebook</a></li>
          <li><img src="../../../assets/images/twitter.png" alt="Imagen de logo de Twitter" width="25" height="25" tabindex="28"><a class="grey-text text-lighten-3" href="https://twitter.com/ULL" target="_blank" tabindex="30">Twitter</a></li>
          <li><img src="../../../assets/images/linkedin.png" alt="Imagen de logo de LinkedIn" width="25" height="25" tabindex="30"><a class="grey-text text-lighten-3" href="https://www.linkedin.com/school/universidad-de-la-laguna" target="_blank" tabindex="30">LinkedIn</a></li>
        </ul>
      </div>
    </div>
    <div class="row"> 
      <div class="col s12 m5 l5" tabindex="32">
        © 2022 Copyright
      </div>
      <div class="col s12 m7 l7">
        <a class="teal-text text-lighten-4" href="https://github.com/SyTW-2122/E01" target="_self" tabindex="33">Repositorio del proyecto</a>
      </div>
    </div>
  </div>
</footer>

