.signup-header {
    background: url("../../../assets/images/home-header-4.jpg") center bottom;
    background-size: cover;
    background-color: black;
    
    color: #FFFFFF;
    /* text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.90); */
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 1);
    border-radius: 6px;
  }